@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* strat-of-header */
header{
    background-color: #3a6cf4;
    width: 100%;
    position: fixed;
    z-index: 888;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.8em;
}

.navigation a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    padding-left: 30px;
    margin-bottom: 40px;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
}

.navigation a:hover{
    background-color: #4e9eff;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/* end-of-header */

/* start-of-first-section */
section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    background-color: black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* background: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; لو هحط صورة*/
}

.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 600;
}

.main h2 span{
    color: balck;
    font-weight: 700;
    display: inline-block;
    margin-top: 10px;
    font-size: 3em;
}

.main h3{
    color: white;
    font-size: 2em;
    font: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-buttons{
    color: #3a6cf4;
    background-color: #f0f0f0;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 700;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
}

.main-buttons:hover{
    background-color: #4e9eff;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.social-icons a{
    color: #3a6cf4;
    font-size: 1.7em;
    padding-right: 30px;
}

/* end-of-first-section*/


/* start-of-secound-section */
.title{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px  25px rgba(1,1 ,1 , 15%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
}

.card :hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.icon-1{
    color: orangered;
    font-size: 8em;
    text-align: center;
}

.icon-2{
    color: blue;
    font-size: 8em;
    text-align: center;
}

.info{
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-weight: 600;
    font-size: 1.2em;
    margin: 10px;
}

.info p{
    color: black;
}
/* end-of-secound-section */



/* start-of-third-section */

.title-3{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.projects{
    background-color: black;
}

.projects .content{
    margin-top: 30px;
}

.project-card{
    background-color: #eee;
    border: 1px solid #eee;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
}

.project-card:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.project-card:hover .project-image{
    opacity: 0.9;
}

.project-image img{
    width:100%;
}

.project-info{
    padding: 1em;
}

.project-category{
    font-size: 0.8em;
    color: #000;
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}

.more-detalis{
    text-decoration: none;
    color: aquamarine;
}

.more-detalis:hover{
    color: #601fc6;
}

/* end-of-third-section */

/* start-of-fourth-section */

.card-contact .title{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.icon-1-1{
    color: green;
    font-size: 4.5em;
    text-align: center;
}
.icon-2-2{
    color: red;
    font-size: 4.5em;
    text-align: center;
}

/* end-of-foruth-section */

/* start-of-fifth-section */

.my-accredited-certificates5{
    background-color: #000;
}

.title-5{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.my-accredited-certificates-1{
    background-color: #eee;
    border: 1px solid #eee;
    min-height: 14em;
    width: 828px;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
}

.my-accredited-certificates-1:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.my-accredited-certificates-1:hover .my-accredited-certificates-image{
    opacity: 0.9;
}
/* end-of-fifth-section */

.footer{
    background-color: #4e9eff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}